# Sensitive environment files
.env
.env.*

scratch_*.js
debug*.js
.DS_Store
node_modules/
css/tailwind-input.css
tailwind.config.js
package.json
package-lock.json

# Dev scripts & temp files
_dev-scripts/
